*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Baskerville',serif;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 11, 11, 0.925);
}

::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(255,115,0,0.548);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #ffb347;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #FF5F1F;
}

#bar{
    background-color:rgb(255,50,50);
    width: 100%;
    height: 2.8rem;
}
/*.about{
    margin: 30px 0;
    display: flex;
}
.about-icon .fas{
    font-size: 2.5rem;
    color: #ff7200;
    margin-right: 20px;
    position: absolute;
    top:0.5rem;
    left:0.5rem;
    padding-top: .2rem;
    
}

.about-iconss .fas{
    font-size: 2.5rem;
    color: #ff7200;
    margin-right: 20px;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding-top: .2rem;
    padding-left: 19rem;
}*/

#bar #brand{
    color:#FFFAE4;
    position: absolute;
    font-size: xx-large;
    top:0.15rem;
    left:0.3rem;
    font-size: 2.5rem;
    padding-left: 16rem;
    padding-top: 0.2rem;
}
#bar h4 a{
    text-decoration: none;
    color: #fff;
    
}
#bar #brand:hover{
    color: #fff;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#bar #profile{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    right: 1rem;
    top:0.8rem; 
    cursor: pointer;
    padding-top: 0.7rem;
}
#bar #order-now{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    right: 5.5rem;
    top: 0.8rem;
    padding-top: 1.5rem;
}

#bar #dine{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    right: 11.6rem;
    padding-top: 0.7rem;
}
#order-now::after,#dine::after,#profile::after{
    content: "";
    border-bottom: 2px solid white;
    text-decoration: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease;
}
#order-now:hover::after,#dine:hover::after,#profile:hover::after{
    transform: scale(1,1);
    /* color: #ff7200; */
}

/* #food{
     padding: 20px; 
}*/

.title-text{
    font-size: 40px;
    width: 100%;
    height: 3rem;
    text-align: center;
    color: #ffffff;
    background-color: rgb(255, 102, 0);
    border-radius: 0 0 50% 50%;;
    /* text-decoration: underline; */
    padding-bottom: .4rem;
    margin-left: -2rem;
    /* margin-top: 1rem; */
    margin-right: -2rem;
    /* border-bottom: 2px solid rgb(255, 102, 0); */
}


.veg{
    position: relative;
    top: 1rem;
    font-size: 35px;
    text-align: center;
    padding-bottom: 1rem;
    color: #b3ff00;
    padding-top: 0.3rem;
    width: 10rem;
    height: 3.5rem;
    border-radius: 50%;
    background: linear-gradient(0deg,black,rgb(44,43,43));
}
.glow-v::before, .glow-v::after{
    content: "";
    position: absolute;
    left:-1.5px;
    top: -2.8px;
    width: 5rem;
    height: 3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.8rem;
    border-radius: 50%;
    background: linear-gradient(45deg,#e6fb04,#ff6600,#00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff);
    background-size: 400%;
    width: calc(100% + 0.4rem);
    height: calc(100% + -10px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.glow-v::after{
    filter: blur(15px);
    opacity: 0.9;
}

.non-veg{
    position: relative;
    display: flex ;
    flex-wrap: wrap;
    top: 0rem;
    font-size: 30px;
    text-align: center;
    color: #ff3c00;
    padding-top: 1rem;
    width: 10rem;
    height: 3.5rem;
    padding-top: 0.5rem;
    padding-left: 1.8rem;
    border-radius: 50%;
    background: linear-gradient(0deg,black,rgb(44,43,43));
}
.glow-n::before, .glow-n::after{
    content: "";
    position: absolute;
    left:-1.5px;
    top: -4.5px;
    width: 5rem;
    height: 1.8rem;
    padding-top: -5rem;
    padding-bottom: 1rem;
    border-radius: 50%;
    background: linear-gradient(45deg,#e6fb04,#ff6600,#00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff);
    background-size: 400%;
    width: calc(100% + 0.4rem);
    height: calc(100% + -0.5rem);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.glow-n::after{
    filter: blur(15px);
    opacity: 0.9;
}
@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.food-container{
    max-width: 90vw;
    margin: 0 auto;
}
.food-card{
    position: relative;
    background: linear-gradient(rgba(205,96,0,0.7), rgba(205,96,0,0.7));
    margin: 20px 0;
    color: #000;
    overflow: hidden;
    padding: 3px;
    border-radius: 16px;
    border: 1px solid orange;
    box-shadow:2px 3px 1px 1px #cd6100;
}
#food img{
    width: 100%;
    min-height: 100%;
    display: block;
    transition: transform 4s;
}

.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;
}
.img-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: #000;
    transition: opacity 4s;
}
.img-text h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.food-card:hover img{
    opacity: 0.4;
    transform: scale(1.3);
}
.food-card:hover .img-text,
.food-card:hover .img-footer{
    opacity: 1;
}
.food-btn{
    display: inline-block;
    background: #000;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 32px;
    color: #fff;
    font-weight: bold;
    border-radius: 180px;
    cursor: pointer;
    margin-top: 16px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    outline: none;
}
.food-btn:hover{
    color: orange;
    background: #fff;
    border: #000;
    outline: none;
}
.fas{
    font-size: 30px;
}
@media screen and (min-width: 576px){
    .food-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
    }
}
@media screen and (min-width: 992px){
    .food-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
    }
}


.container{
    position: absolute;
    background-color: rgb(36, 36, 36);
    left: 0;
    width: 100%;
    opacity: 0.95;
    height: auto;
    padding-bottom: 2rem;
}

.info{
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 2rem;
    border-top: 2px solid rgb(255, 102, 0);
}
.about{
    width: 15rem;
    position: relative;
    left: 6rem;
    top: 1rem;
    color: #fff;
     
}
.foot-hd{
    padding-bottom: 2rem;
    color: #ff7200;
    font-size: 2rem;
}

.abt-cont{
    padding-top: 1rem;
    line-height: 2rem;
    position: relative;
    word-spacing: 0.5rem;
    font-size: 1.5rem; 
}
.quick{
    position: absolute;
    right: 8rem;
    top: 1rem;
    color: #fff;
}

.qui-cont a{
    padding-top: 1rem;
    line-height: 3rem;
    position: relative;
    left: 15%;
    color: #ffffff;
    transition: 0.5s all;
    font-size: 1.5rem;
    text-decoration-line: none;
}

.qui-cont a::after{
    content: "";
    border-bottom: 2px solid #ff7200;
    text-decoration: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3px;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform 0.5s ease;
}
.qui-cont a:hover::after{
    transform: scale(1,1);
    color: #ff7200;
}

.branch{
    position: relative;
    left: 25%;
    top: 1rem;
    color: #fff;
}

.br-cont{   
    line-height: 3rem;
    position: relative;
    left: 25%;
    font-size: 1.5rem;
    
}


.copyright{
    padding-top: 2rem;
    color: #fff;
}
/*.fol-box #icons{
    height: 30px;
    text-align: center;
    padding: 20px 0 20px 0;
}*/
.fol-box h3{
    padding-bottom: 1.7rem;
    color: #fff;
    font-size: 2rem;
}
.fol-box a{
    display: inline-block;
    padding: 15px 10px;
    margin: 0 8px;
    font-size: 30px;
    border-radius: 15px;
    transition: transform 2s ease, color 2s ease;
}
.fol-box a:hover{
    transform: translateY(-20px);
}
.facebook{
    color: #3b5998;
}
.twitter{
    color: #38a1f3;
}
.instagram{
    color: #e1306c;
}
.plus{ 
    color: #db4a39;
}

.follow{
    font-size: 2rem;
}
.copyright{
    color: #ff7200;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

@media screen and (min-width:1280px)
{
     #bar
    {
        width: 100%;
        height: 2.8rem;
    }
    #bar #brand{
        color:#FFFAE4;
        position: absolute;
        font-size: xx-large;
        top:0.15rem;
        left:0.3rem;
        font-size: 2.5rem;
        padding-left: 16rem;
        padding-top: 0.2rem;
    }
    #bar h4 a{
        text-decoration: none;
        color: #fff;
        
    }
    #bar #brand:hover{
        color: #fff;
        cursor: pointer;
        transition: transform 0.1s ease;
    }
    
    #bar #profile{
        color: white;
        font-size: 1rem;
        text-decoration: none;
        position: absolute;
        right: 1rem;
        top:0.8rem; 
        cursor: pointer;
        padding-top: 0.7rem;
    }
    #bar #order-now{
        color: white;
        font-size: 1rem;
        text-decoration: none;
        position: absolute;
        right: 5.5rem;
        top: 0.8rem;
        padding-top: 0.7rem;
    }
    
    #bar #dine{
        color: white;
        font-size: 1rem;
        text-decoration: none;
        position: absolute;
        right: 11.6rem;
        padding-top: 1.5rem;
    }
    .title-text{
    font-size: 40px;
    width: 100%;
    height: 3rem;
    color: #ffffff;
    background-color: rgb(255, 102, 0);
    border-radius: 0 0 50% 50%;;
    padding-bottom: .4rem;
    margin-left: -2rem;
    margin-right: -2rem;
}
.veg{
    position: relative;
    top: 0.8rem;
    font-size: 35px;
    text-align: center;
    padding-bottom: 1rem;
    color: #b3ff00;
    padding-top: 0.3rem;
    width: 10rem;
    height: 3.5rem;
    border-radius: 50%;
    background: linear-gradient(0deg,black,rgb(44,43,43));
}
.glow-v::before, .glow-v::after{
    content: "";
    position: absolute;
    left:-1.5px;
    top: -2.8px;
    width: 5rem;
    height: 3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.8rem;
    border-radius: 50%;
    background: linear-gradient(45deg,#e6fb04,#ff6600,#00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff);
    background-size: 400%;
    width: calc(100% + 0.4rem);
    height: calc(100% + -10px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.non-veg{
    position: relative;
    display: flex ;
    flex-wrap: wrap;
    top: 0rem;
    font-size: 30px;
    text-align: center;
    color: #ff3c00;
    padding-top: 1rem;
    width: 10rem;
    height: 3.5rem;
    padding-top: 0.5rem;
    padding-left: 1.8rem;
    border-radius: 50%;
    background: linear-gradient(0deg,black,rgb(44,43,43));
}
.glow-n::before, .glow-n::after{
    content: "";
    position: absolute;
    left:-1.5px;
    top: -4.5px;
    width: 5rem;
    height: 1.8rem;
    padding-top: -5rem;
    padding-bottom: 1rem;
    border-radius: 50%;
    background: linear-gradient(45deg,#e6fb04,#ff6600,#00ff66,#00ffff,#ff00ff,#ff0099,#6e0dd0,#ff3300,#099fff);
    background-size: 400%;
    width: calc(100% + 0.4rem);
    height: calc(100% + -0.5rem);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.container{
    position: absolute;
    background-color: rgb(36, 36, 36);
    left: 0;
    width: 100%;
    opacity: 0.95;
    height: auto;
    padding-bottom: 2rem;
}

.info{
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 2rem;
    border-top: 2px solid rgb(255, 102, 0);
}
.about{
    width: 15rem;
    position: relative;
    left: 6rem;
    top: 1rem;
    color: #fff;
     
}
.foot-hd{
    padding-bottom: 2rem;
    color: #ff7200;
    font-size: 2rem;
}

.abt-cont{
    padding-top: 1rem;
    line-height: 2rem;
    position: relative;
    word-spacing: 0.5rem;
    font-size: 1.5rem; 
}
.quick{
    position: absolute;
    right: 8rem;
    top: 1rem;
    color: #fff;
}

.qui-cont a{
    padding-top: 1rem;
    line-height: 3rem;
    position: relative;
    left: 15%;
    color: #ffffff;
    transition: 0.5s all;
    font-size: 1.5rem;
    text-decoration-line: none;
}

.branch{
    position: relative;
    left: 25%;
    top: 1rem;
    color: #fff;
}

.br-cont{   
    line-height: 3rem;
    position: relative;
    left: 25%;
    font-size: 1.5rem;
    
}
.copyright{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: #ff7200;
}
.fol-box h3{
    padding-bottom: 1.7rem;
    color: #fff;
    font-size: 2rem;
}
.fol-box a{
    display: inline-block;
    padding: 15px 10px;
    margin: 0 8px;
    font-size: 30px;
    border-radius: 15px;
    transition: transform 2s ease, color 2s ease;
}

}

@media screen and (max-width:1080px)
{
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        height: 80rem;
        width: 38rem;
    }
    #bar
    {
        width: 100%;
        height: 4rem;

    }
    #bar #order-now{
        font-size: 1.3rem;
        right: 34.5rem;
    }
    #bar #dine{
        font-size: 1.3rem;
        right: 42rem;
        padding-bottom: 1rem;
        padding-top: 2.25rem;
    }
    #bar #profile{
        font-size: 1.3rem;
        right: 29.5rem;
        padding-bottom: 4rem;
        padding-top: 1.5rem;
    }
    #bar #brand{
        font-size: 2.5rem;
        padding-bottom: 1rem;
        top:0.15rem;
        left:0.3rem;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .title-text{
        font-size: 2.7rem;
        margin-top: 0rem;
        height: 4rem;
    }
    .container{
        width:38rem;
    }
    .foot-hd
    {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    .about
    {
        width: 12rem;
        height: 19rem;
        position: relative;
        left: 1rem;
        top: 1rem;
        font-size: 1rem;
        
    }
    .abt-cont{
        width: 12rem;
        padding-top: 1rem;
        line-height: 1.5rem;
        position: relative;
        word-spacing: 0.8rem;
        font-size: 1.5rem;
    }
    .quick{
        width: 15rem;    
        left: 13rem;
        top: 1rem;
        font-size: 1rem;
        line-height: 1rem;
        
    }
    .qui-cont{
        width: 15rem;
        padding-top: 1rem;
        line-height: 0.5rem;
        transition: 0.5s all;
        font-size: 1rem;
        display: inline-block;
        position: relative;
        
    }
    .branch{
        width: 15rem;    
        left: 15rem;
        top: 1rem;
        font-size: 1rem;
    }
    .br-cont{
        line-height: 2.5rem;
        position: relative;
        font-size: 1.5rem; 
    }
    .fol-box{
        padding-top: 3rem;
    }    
    .copyright{
        padding-top: 2rem;
        color: #fff;
    }
    .veg{
        position: relative;
        top: 1rem;
        font-size: 2rem;
    }
}

@media(max-width:540px)
{
    body{
        overflow-x: hidden;
        width: 16rem;
    }

    #bar{
        width: 100%;
        height: 3rem;
    }
    #bar #brand{
        font-size: 1.4rem;
        padding-top: 1rem;
        padding-left: 0rem;
    }
    #bar #order-now{
        padding-top: 1rem;
        left:12rem;
        font-size: 0.5rem;
    }
    #bar #dine{
        padding-top: 1.8rem;
        left: 10rem;
        font-size: 0.5rem;
    }
    #bar #profile{
        padding-top: 1.5rem;
        font-size: 0.5rem;
        left: 14.5rem;
    }
    .title-text{
        font-size: 2rem;
        margin-top: 0rem;
        height: 3rem;
    }
    .container{
        width: 16rem;
    }
    .info{
        display: flex;
        flex-direction: column;
        width: 16rem;
        height: auto;
    }
    .about{
        width: 16rem;
        height: 11rem;
        position: relative;
        display: inline;
        font-size: 1.5rem;
        
    }
    .abt-cont{
        line-height: 1rem;
        word-spacing: 0.4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        max-width: 15rem;
        /* height: 10rem; */
        font-size: 1rem;
    }
    
    .branch{
        
        width: 15rem;
        height: 27rem;
        padding-top: 2rem;
        left: 1rem;
        font-size: 1.5rem;
        /* right: 2rem; */
    }

    .br-cont{
        padding-top: 1rem;
        font-size: 1rem;
        left: 1rem;
        line-height: 1.3rem;
    }
    .quick{
        font-size: 1.5rem;
        width: 15rem;
        height: 27rem;
        top: 28rem;
        left: 1rem;
        padding-top: 2rem;  
    }
    .quick .foot-hd{
        left: 1rem;
        font-size: 1.5rem;
    }
    .qui-cont a{
        padding-top: 1rem;
        left: 1rem;
        width: 20rem;
        height: 25rem;
        font-size: 1rem;
        line-height: 1.3rem;
        
    }
    .fol-box{
        padding-top: 10rem;
        font-size: 1.5rem;
    }
    .copyright{
        font-size: 1.5rem;
    }
}